@media screen and (max-width: 625px) {
  .login {
    height: 100vh;
    min-height: 415px;
  }
  
  .login form {
    border-width: 1px;
    width: 90%;
    height: 400px;
    grid-template-rows: 0.5fr 1fr;
  }

  .login-inputs input {
    border-width: 1px;
  }

  .login-inputs .play {
    position: static;
    border-radius: 0.5em;
    width: 90px;
  }

  .login .logo {
    width: 80px;
    align-self: flex-end;
  }

  .login-user-area {
    align-self: center;
  }
}
