@media screen and (max-width: 670px) {
  .top3 {
    min-height: 500px;
  }

  .top3 .card-player {
    width: 96px;
  }

  .top3 .score-player {
    /* display: none; */
  }

  .score-player .name-player {
    align-self: flex-start;
    font-family: cream, sans-serif;
    font-size: 0.6em;
    font-weight: 100;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 96px;
  }

  .score-player .points-player {
    font-size: 0.8em;
  }

  .score-player .assertions-player,
  .score-player .questions-amount-player {
    font-family: cream, sans-serif;
    font-size: 0.6em;
    font-style: italic;
    font-weight: 100;
  }

  .top3 .card-player:nth-child(1) {
    height: 210px;
  }

  .top3 .card-player:nth-child(1) img {
    width: 50px;
    height: 50px;
    border-width: 3px;
  }

  .top3 .card-player:nth-child(2) img,
  .top3 .card-player:nth-child(3) img {
    width: 40px;
    height: 40px;
    border-width: 3px;
  }

  .top3 .card-player:nth-child(2),
  .top3 .card-player:nth-child(3) {
    height: 180px;
  }

  .crown {
    font-size: 60px;
    top: -80px;
  }

  .ranking-players {
    width: 95%;
  }

  .ranking-players .card-header,
  .ranking-players .card-player {
    grid-template-columns: 30px 50px 1fr repeat(3, 0.5fr);
    font-size: 0.8em;
  }

  .ranking-players .card-player {
    height: 50px;
  }

  .ranking-players img {
    width: 30px;
  }

  .ranking-players .position-player {
    font-size: 1em;
  }

  .gold {
    bottom: -68px;
    font-size: 70px;
  }

  .silver,
  .bronze {
    bottom: -48px;
    font-size: 50px;
  }
}
