@media screen and (max-width: 625px) {
  .settings {
    min-height: 600px;
  }

  .settings .settings-control {
    width: 90%;
    height: 400px;
    grid-template-rows: 0.5fr 1fr;
  }

  .settings .amount-control,
  .settings .sounds-control,
  .settings .language-control {
    width: 95%;
  }

  .amount-control span:first-child {
    font-size: 0.7em;
    min-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .amount-control .input-amount {
    width: 100%;
    height: 5px;
  }
}

@media screen and (max-width: 425px) {
  .language-en span, .language-pt-br span {
    display: none;
  }
}
