@keyframes toTop {
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.settings {
  align-items: center;
  background-image: url(../images/wallpaper-settings.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.settings .quit {
  align-items: center;
  background-color: #e02727;
  border-radius: 0.5em;
  box-shadow: 0 3px 0 rgb(95, 0, 0);
  color: white;
  display: flex;
  font-family: cream, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 30px;
  text-decoration: none;
  top: 30px;
  transition: 0.1s;
  width: 30px;
}

.settings .settings-control {
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  animation: toTop 0.5s;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5em;
  border: 3px solid #80B9D4;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  padding: 10px;
  width: 600px;
}

.settings .amount-control,
.settings .sounds-control,
.settings .language-control {
  align-items: center;
  background-color: #80B9D4;
  border-radius: 0.5em;
  border: 3px solid #4e9bbf;
  color: white;
  display: grid;
  font-family: cream, sans-serif;
  font-weight: 900;
  grid-template-columns: repeat(2, 1fr) 0.5fr;
  padding: 10px;
  width: 80%;
}

.settings .sounds-control, .settings .language-control {
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.settings .amount-control span:first-child,
.settings .language-control span:first-child,
.settings .sounds-control span:first-child {
  font-size: 0.9em;
  text-align: start;
}

.amount-control .input-amount {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 5px;
  height: 0.5em;
  left: 4em;
  outline: none;
}

.amount-control .input-amount::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #4e9bbf;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.sounds-control .sounds-on,
.sounds-control .sounds-off,
.language-control .language-en,
.language-control .language-pt-br {
  background-color: white;
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 3px 0 #acacac;
  color: #404040;
  cursor: pointer;
  font-family: cream, sans-serif;
  margin: 10px 0;
  padding: 5px;
}

.sounds-control .s-on-disabled,
.sounds-control .s-off-disabled,
.language-control .l-en-disabled,
.language-control .l-pt-br-disabled {
  background-color: white;
  box-shadow: 0 3px 0 #acacac;
  color: #404040;
  opacity: 0.5;
}

.sounds-control .sounds-on:active,
.sounds-control .sounds-off:active,
.language-control .language-en:active,
.language-control .language-pt-br:active {
  box-shadow: none;
  transform: translateY(3px);
}

.sounds-control .sounds-on {
  background-color: #73be43;
  box-shadow: 0 3px 0 #5ca23e;
  color: white;
}

.sounds-control .sounds-off {
  background-color: #b82f2b;
  box-shadow: 0 3px 0 #8b1d1a;
  color: whitesmoke;
}

.settings .save {
  background-color: #80B9D4;
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 3px 0 #15796c;
  color: whitesmoke;
  cursor: pointer;
  font-family: cream, sans-serif;
  font-size: 1em;
  padding: 5px 20px;
  transition: 0.1s;
}

.settings .save:active {
  box-shadow: none;
  transform: translateY(3px);
}

.language-en, .language-pt-br {
  display: flex;
  justify-content: space-evenly;
}
