@font-face {
  font-family: cream;
  src: url(./fonts/cream_2/cream-DEMO.ttf);
}

@font-face {
  font-family: coco;
  src: url(./fonts/cocogoose/Cocogoose\ Pro-trial.ttf);
}

@font-face {
  font-family: tommy;
  src: url(./fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Bold\ PERSONAL\ USE.otf);
}

.App > section {
  text-align: center;
  min-width: 320px;
}
